<div class="main-container">
  <div class="middle-section">
    <div class="left-side-signup">
      <h3> You are getting closer to creating your group. Remember: you will be the admin!</h3>
      <h1>Signup</h1>

      <div class="signup-box">
        <h2>Create a personal account first</h2>
        <form action="/signup" method="POST" id="form-container">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="Insert your name here">
          <br>
          <br>
          <label for="email">Email</label>
          <input id="email" type="email" name="email" placeholder="your-email@goes-here.com">
          <br>
          <br>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="1234">

          <% if (typeof message !== "undefined") { %>
            <div class="error-message">
              <%= message %>
            </div>
            <% } %>
              <br>
              <br>
              <button>Create Group</button>
        </form>
      </div>
    </div>
    
    <div class="right-side-signup">
      <p class="account-message">
        Do you already have an account?
        <a href="/welcome">Login</a>
      </p>
    </div>
  </div>
  <div class="footer-side">
    <p>2017 © Daily Grind. Privacy & Terms</p>
  </div>


</div>