<!-- views/auth/signup.ejs -->
<h2>Signup</h2>

<h3> You are getting closer to creating your group. Remember: you will be the admin!</h3>

<h3>Create a personal account first</h3>
<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Insert your name here">
  <br>
  <br>
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="your-email@goes-here.com">
  <br>
  <br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="1234">

  <% if (typeof message !== "undefined") { %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
      <br>
      <br>


<!-- <button>Create group</button> 
  <input type="submit" value="Create group">
<a href="/create-group" value="Create group">Create group </a> -->
<!-- <a href="/creategroup"> -->
  <button>CREATE GROUP</button>
<!-- </a> -->

<!-- <button onclick="location.href='/create-group'" type="button">CREATE GROUP</button> -->
</form>

<p class="account-message">
  Do you already have an account?
  <a href="/welcome">Login</a>
</p>

