
<body>
    <h1>Create your Group</h1>

    <form action="group/creategroup" method="POST" id="form-creategroup">
        <label for="groupname">Groupname</label>
        <input id="groupname" type="text" name="groupname" placeholder="Insert your group name">

        <label for="description">Description</label>
        <input id="description" type="description" name="description" placeholder="Describe your group">

    <input type ="submit" />
    </form>
</body>


something