<head>
    <title>Create your group</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="main-container-creategroup">
        <div class="left-side-creategroup">
            <h1>Create your Group</h1>

            <form action="/" method="POST" id="form-creategroup">
                <label for="groupname">Group name</label>
                <input id="groupname" type="text" name="groupname" placeholder="Insert your groupname">


                <label for="description">Description</label>
                <input id="description" type="description" name="description" placeholder="Describe your group">
            <input type ="submit" />
            </form>
        </div>
        <div class="right-side-creategroup">
        </div>
    </div>


    
</body>