<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel='stylesheet' href='/stylesheets/navbar.css'/>
  <link rel='stylesheet' href='/stylesheets/dashboard.css'/>

</head>
<body>
    <nav class="container-navbar">
         <ul class="links">
                <li class="btn"><a href="userId/profile">My Profile</a></li>
                <li class="btn"><a href="/mygroup">My Group</a></li>
                <li class="btn"><a href="/logout">Log out</a></li>
         </ul>
        </nav>
    <div class="main-container-dashboard">
      <h1>TASKS</h1> 

      
    </div>
</body>
</html>