<body>
    <div class="main-container-profile">
        <div class="main-side-profile">
            <h1>Your Group</h1>
            <%= group.groupname %>
            <h2>Members:</h2>
            <ul id="">
                 <% group.userIds.forEach(function(user){ %>
                   <li>
                        <%= user %>
                   </li>

                 <% }) %>
            </ul>
        </div>
        <div class="footer-side">
                <p>2017 © Daily Grind. Privacy & Terms</p>
              </div>
    </div>
</body>