<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet"  href= "/stylesheets/navbar.css" type ="text/css" />
  </head>
  <body>
      <div id="topnavbar">
        <ul>
                <li><a href="userId/profile">My Profile</a></li>
                <li><a href="/mygroup">My Group</a></li>
                <li><a href="/welcome">Log out</a></li>
                
        </ul>
      </div>
    <p></p>
  </body>
</html>