<!DOCTYPE html>
<html>

<head>
  <title>Daily Grind</title>
  <link rel='stylesheet' href='/stylesheets/welcome.css' />
</head>

<body>
  
  <div class="main-container">
    <h1> WELCOME TO DAILY GRIND!</h1>
    <div class="middle-section">
      <div class="left-side">

          <h3> Log in to Daily Grind</h3>
        



      </div>

      <div class="right-side">

        <form action="/signup" mehtod="POST">
          <button>GET STARTED</button>
        </form>
      </div>
    </div>
    <div class="footer-side">
      <p>2017 © Daily Grind. Privacy & Terms</p>
    </div>
  </div>

  </div>
  
  </div>
</body>

</html>