body {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.main-container-dashboard{
  position: relative;
  height: 500px;
  width: 1420px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container-dashboard h1{
  text-align: center;
  font-size: 50px;
  margin: 30px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 1000px) {
  .main-container-dashboard{
    position: relative;
    height: 500px;
    width: 500px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container-dashboard h1{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif;
  }

  .main-container-dashboard input{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif;
  }

  .main-container-dashboard li{
    color: grey;
    display: flex;
    align-items: center;
    width: 200px;
  }

  .main-container-dashboard select{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
  }

  .tasks-box{
    position: relative;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}




.dashboard-admin-btn {

  
}

.delete-button-dashboard {


}

.add-button-dashboard {


}