body {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }

.container-navbar {
    width: 100%;
    background-color:rgb(178, 211, 200);;
    top:0;
    position: fixed;
    z-index:1;
    font-weight: lighter

} 
.container-navbar a{
    color:white;
    text-decoration:none;
    
}

.container-navbar ul{
    list-style: none;
    padding: 5px 10px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
}

.container-navbar li{
   padding: 10px;
   border: 20px;
   font-family: sans-serif;
   color: white;
   background-color: transparent;
   border-color: rgba(16, 56, 43, 0.9);
   border: 0.5px solid;
   border-radius: 3rem;
  
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
    margin-right:auto;
    
    position: relative;
    margin-right: 5%;
}

.links a:hover {
    /* background-color: rgb(192, 255, 163); */
    color: black;
}

.btn {
    /* background: #802980; */
    /* background-image: -webkit-linear-gradient(top, #802980, #68b4e3);
    background-image: -moz-linear-gradient(top, #802980, #68b4e3);
    background-image: -ms-linear-gradient(top, #802980, #68b4e3);
    background-image: -o-linear-gradient(top, #802980, #68b4e3);
    background-image: linear-gradient(to bottom, #802980, #68b4e3); */
    /* -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px; */
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    /* background-color: rgba(255,255, 255, 0.2); */
   
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }