/* MOBILE VIEW */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.main-container-profile {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}

.main-side-profile {
  position: relative;
  height: 500px;
  width: 700px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* BROWSER VIEW */

@media (min-width: 1000px) {
  body {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  .main-container-profile {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
  }
  
  .main-side-profile {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-side-profile li {
    font-size: 60px;
    color: grey;
    list-style-type: none;
  }

  

  .main-side-profile h1 {
    font-size: 50px;
    margin: 75px;
    text-align: center;
  }

  .main-side-profile button {
    position: relative;
    width: 200px;
    height: 4rem;
    margin: 40px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(16, 56, 43, 0.616);
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  }
  
}