/* MOBILE VIEW */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.main-container-profile {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}

.main-side-profile {
  position: relative;
  height: 500px;
  width: 700px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* BROWSER VIEW */

@media (min-width: 1000px) {
  body {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  .main-container-profile {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
  }
  
  .main-side-profile {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}