body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.main-container{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}
.left-side{
  position: relative;
  height: 500px;
  width: 700px;
  background-color: rgba(230, 230, 50, 0.267);
  margin-top: 20px;
}
.right-side{
  position: relative;
  height: 500px;
  width: 700px;
  background-color: rgba(230, 230, 50, 0.267);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
}

h1{
  text-align: center;
  font-size: 50px;
  margin: 30px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.right-side button{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;  
  text-align: center;
  font-size: 20px;
  margin: 20px;
  height: 70px;
  width: 100px;
}


.right-side-signup{
  position: relative;
  height: 500px;
  width: 700px;
  background-color: rgba(230, 230, 50, 0.267);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left-side-signup{
  position: relative;
  height: 500px;
  width: 700px;
  background-color: rgba(230, 230, 50, 0.267);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  }

.main-container-creategroup{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
  }

.right-side-creategroup{
  position: relative;
  height: 500px;
  width: 700px;
  background-color: rgba(230, 230, 50, 0.267);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-side-creategroup{
  position: relative;
  height: 500px;
  width: 700px;
  background-color: rgba(230, 230, 50, 0.267);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.left-side-creategroup input{
width: 300px;
height: 50px;
}